.imdb-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;
}

.imdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.imdb-logo {
  width: 200px;
  margin-top: 20px;
  float: left;
  border-radius: 10px;
}

.imdb-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
}

@media screen and (max-width: 500px) {
  .imdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .imdb-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .imdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}